@import "../styles/mixin.scss";

$line-height: 2.5rem;

.dragon {
  h2 {
    margin-bottom: 4rem;
  }
  .field-line {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    position: relative;
  }
  label, .dragon-input, .dragon-text {
    font-size: 1rem;
    display: inline-block;
    height: $line-height;
    line-height: $line-height;
  }
  .dragon-input, .dragon-text {
    @include remove-border;
    margin: 0;
    padding: 0 0.5rem;
    border-radius: 2px;
    position: absolute;
    right: 0;
  }
  .buttons {
    margin-top: 1.75rem;
  }
  button {
    @include round-border;
    @include remove-border;
    display: block;
    margin: 0 auto .5rem;
    font-size: 1rem;
    width: 50%;
    height: $line-height;
    &:hover:enabled {
      cursor: pointer;
    }
    &:last-child {
      margin: 0 auto;
    }
  }
}
