@import "../styles/colors.scss";

.dragon-list {
  width: 80%;
  margin: 0 auto;
  h2 {
    margin-bottom: 2rem;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    float: left;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    margin-bottom: .5rem;
    text-align: left;
    &:last-child {
      margin-bottom: 0;
    }
    position: relative;
  }
  a {
    color: $color-text;
    text-decoration: none;
    padding: 1rem;
    display: block;
    border: 1px solid $color-dark;
    border-radius: 8px;

    -webkit-box-shadow: 0px 14px 13px -11px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 14px 13px -11px rgba(0,0,0,0.68);
    box-shadow: 0px 14px 13px -11px rgba(0,0,0,0.68);    

    &:hover {
      text-decoration: underline;
    }
  }
  .dragon-id {
    position: absolute;
    right: .6rem;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 1.4rem;
    opacity: .35;
  }
  a:hover {
    transform: scale(1.075);
    transition: cubic-bezier(.3,-1.2,.25,.26) 450ms;
  }
  .create-dragon-button {
    text-align: center;
  }
}
