@mixin round-border {
  border-radius: 999px;
}

@mixin remove-border {
  outline: none;
  border: none;
}

.va-outter {
  display: table;
  height: 100%;
}

.va-inner {
  display: table-cell;
  vertical-align: middle;
}