@import "../styles/colors.scss";
@import "../styles/mixin.scss";

$line-heigh: 1.8rem;

.Login {
  width: 100%;
  text-align: center;
}

.logo-text {
  margin-top: .5rem;
  margin-bottom: 3.5rem;
}

.logo {
  width: 40vw;
}

.login-input-group {
  margin-bottom: 1.5rem;
}

.login-input {
  @include round-border;
  @include remove-border;
  margin: 0 auto;
  width: 80%;
  height: $line-heigh;
  font-size: .8rem;
  padding: 0 .5rem;
  border-radius: 999px;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.login-button {
  @include round-border;
  @include remove-border;
  width: 50%;
  height: $line-heigh;
  &:disabled {
    background: $color-text-disabled;
    color: $color-background-disabled;
  }
}